/* styles.css */
nav {
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo-img {
  width: 10px; /* 调整图片大小 */
  height: auto;
  margin-right: 10px; /* 在图片和文字之间添加一些间距 */
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
}


/* 主内容区样式 */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 50px 0;
}

.service-content {
  width: 40%;
}

.service-content h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.service-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.service-content button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.industry-section {
  width: 80%;
  text-align: center;
  margin: 50px 0;
}

.industry-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.industry-images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.industry-images img {
  width: 200px;
  height: 150px;
  margin: 10px;
}

.client-section {
  width: 80%;
  text-align: center;
  margin: 50px 0;
}

.client-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.client-images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.client-images img {
  width: 150px;
  height: 100px;
  margin: 10px;
}

/* 页脚样式 */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.company-info p {
  margin: 5px 0;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.social-media img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
